---
layout: default
title: Home
---

<div>
    <img src="{{ site.baseurl }}/public/assets/Flyer-2020.png" alt="Flyer Wahlen 2020" />
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
      <span class="post-date">
      {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d" }}.
      {% case m %}
        {% when '1' %}Januar
        {% when '2' %}Februar
        {% when '3' %}M&auml;rz
        {% when '4' %}April
        {% when '5' %}Mai
        {% when '6' %}Juni
        {% when '7' %}Juli
        {% when '8' %}August
        {% when '9' %}September
        {% when '10' %}Oktober
        {% when '11' %}November
        {% when '12' %}Dezember
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </span>
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {{ post.content }}
  <hr />
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Ältere</a>
  {% else %}
    <span class="pagination-item older">Ältere</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Neuere</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Neuere</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Neuere</span>
  {% endif %}
</div>
