html {
	font-size: 17px; 
	font-family: Lora, Palatino, Times, "Times New Roman", serif;
	text-rendering: optimizeLegibility;
	line-height: 27px;
}

body {color: rgb(34, 34, 34)}

.sidebar {
    background-color: #009AEA;
    font-family: "Source Sans Pro", arial, helvetica, sans-serif;
}

.sidebar img {
    margin: -32px;
    margin-top: 20px;
    border-radius: 0;
    width: 370px;
}

.sidebar-about h1 {
	font-family: "Source Sans Pro", arial, helvetica, sans-serif;
    font-size: 2.5em;
    -ms-hyphens: manual;
    -webkit-hyphens: manual;
    hyphens: manual;
}

.sidebar-about .lead {
	-ms-hyphens: manual;
    -webkit-hyphens: manual;
    hyphens: manual;
}

.social-media a {
    color: rgba(255, 255, 255, .5);
}

@media (max-width: 48em) {
    .sidebar .portrait {
        margin: auto;
    }

    .sidebar .portrait img {
        max-width: 60%;
        margin: auto;
        margin-bottom: -36px;
    }
}

p, h1, h2, h3, h4 {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1.7em;
}

.pagination {
	font-family: "Source Sans Pro", arial, helvetica, sans-serif;
}
